.card-slideshow {
    position: relative;
    display: block;
}

.card-slideshow__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.card-slideshow__img--active {
    opacity: 1;
    position: relative; /* mantiene la activa en el flujo */
}
