/* Estilos base (Mobile First) */
body {
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 95%;
    margin: auto;
    margin-top: 90px; /*Lo que mide el nav + 10px*/
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* TÍTULO */
h1 {
    font-size: 1.8rem !important;
    color: #222;
    text-align: center;
}

/* SUBTÍTULOS */
.policy h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #292727;
    margin-top: 20px;
    margin-bottom: 10px;
    border-left: 4px solid #222;
    padding-left: 8px;
}

ul {
    padding-left: 28px;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.footer-text {
    margin-top: 25px;
    font-style: italic;
    text-align: center;
    font-size: 0.95rem;
    color: #555;
}

/* Media Queries para pantallas más grandes */
@media (min-width: 600px) {
    .container {
        max-width: 85%;
        padding: 30px;
    }

    h1 {
        font-size: 2rem;
    }

    .policy h2 {
        font-size: 1.6rem;
    }

    .footer-text {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 70%;
        padding: 40px;
    }

    h1 {
        font-size: 2.2rem;
    }

    .policy h2 {
        font-size: 1.8rem;
    }

    li {
        font-size: 1.05rem;
    }
}