:root {
    /*------------------ colors --------------*/
    --primary-color: #1C6A5D;
    --primary-color-dark: #1B685E;
    --primary-color-soft: #E9FFFD;
    --secondary-color: #000000;
    --secondary-color-soft: #131718;
    --background-color: #faf8f7;
    /*------------------ Fonts --------------*/
    /* --primary-ff: "DM Sans", sans-serif; */
    --primary-ff: "Plus Jakarta Sans", sans-serif;
    --primary-fz: 62.5%;
}

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--primary-fz);
    font-family: var(--primary-ff);
    scroll-behavior: smooth;
}

body{
    font-size: clamp(1.4rem, 1.6vw, 1.8rem);
    line-height: 1.5;
}

/* Contiene al scrolling text y al nav bar, permite que se queden "pegados" en la pantalla */
header{
    position: relative;
}