/* Contenedor con perspectiva */
.cubo-container {
    margin-top: 80px;
    perspective: 2200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    .cubo-container {
        margin: 80px auto;
    }
}

/* Estructura del cubo */
.cubo {
    width: 280px;
    height: 280px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(20deg);
    transition: transform 0.2s ease-out;
}

/* Caras del cubo */
.cara {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
}

/* Cada cara con su imagen */
.frente {
    transform: translateZ(140px);
    background-image: url('../images/cube/gorra1.webp');
}

.atras {
    transform: rotateY(180deg) translateZ(140px);
    background-image: url('../images/cube/gorra4.webp');
}

.derecha {
    transform: rotateY(90deg) translateZ(140px);
    background-image: url('../images/cube/gorra2.webp');
}

.izquierda {
    transform: rotateY(-90deg) translateZ(140px);
    background-image: url('../images/cube/gorra2.webp');
}

.arriba {
    transform: rotateX(90deg) translateZ(140px);
    background-image: url('../images/logo-amcaipin-big.png');
}

.abajo {
    transform: rotateX(-90deg) translateZ(140px);
    background-image: url('../images/cube/gorra3.webp');
}