.brand-card{
    /* linea de codigo agregada para que el texto del final de las tarjetas se ubica en el piea de las tarjetas */
    justify-content: end;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 16px; 
    background: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.brand-card:hover {
    transform: translateY(-4px); /* efecto de elevación */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.brand-card .card__title {
    font-size: 1.2em;
    margin-bottom: 24px;
}