/* Asegura que todo el slider tenga altura completa */
.splide,
.splide__track,
.splide__list,
.splide__slide {
  position: relative;
  margin-top: 25px;
  height: 53dvh;
  max-height: 600px;
  z-index: 0;
}

/* Imagen se adapta al contenedor y se centra */
.img-slider {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  display: grid;
  place-self: center;
}
