.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color-dark);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.whatsapp-float img {
    width: 28px; /*Igual al emoji del bg-song */
}

.whatsapp-float:hover {
    background: var(--primary-color);
}