.scrolling-text {
    background-color: var(--secondary-color);
    color: var(--primary-color-soft);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 30px;
    z-index: 101;
}

.scrolling-text__container {
    width: min(90%, 1200px);
    margin: 0 auto;
    position: relative;
    height: 30px;
    overflow: hidden;
}

.scrolling-text__item {
    position: absolute;
    margin: 4px 0;
    padding: 0;
    font-weight: bolder;
    width: max-content;
    white-space: nowrap;
    animation: scrolling-text-animation 12s linear infinite;
}

@keyframes scrolling-text-animation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}